<nav class="navbar navbar-expand-sm navbar-light bg-light" style="background:linear-gradient(-90deg, #6600ff, #ff6600, #ffcc00);">
  <!-- <a class="navbar-brand" href="#">The Moringa Tribune</a> -->
  <!-- <nav class="navbar navbar-light navbar-right">
  <form class="form-inline" action="#">
    <input class="form-control mr-sm-2" type="text" placeholder="Search Article" aria-label="Search"name="article">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> -->
<div class="col-sm-6 col-md-6">
  {% if user.is_authenticated %}
  <ul class="navbar-nav mr-auto d-flex justify-content-between">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home fa-2x" style="color:blue;padding-bottom:5px;padding-top:0;" data-toggle="tooltip" data-placement="bottom" title="Home"></i> <span class="sr-only">(current)</span></a>
    </li>
    <li>
      <a href="{% url 'search'%}"><i class="fa fa-search fa-2x" style="color:blue;" data-toggle="tooltip" data-placement="bottom" title="search here" ></i></a>
    </li>
    <li class="nav-item">
      <a href="{% url 'new_post' %}"><i class="fa fa-plus-square fa-2x" style="color:blue;" data-toggle="tooltip" data-placement="bottom" title="post new picture"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile/{{user.username}}">{{user.username}}</a>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                <span class="caret"></span>
            </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="{%url 'home'%}">Home</a>
        </li>
        <li>
          <a href="{% url 'edit_profile' %}">Create Profile</a>
        </li>
        <li>
          <a href="/accounts/password/change">Change Password</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
  {% else %}
  <li>
    <a class='btn btn-default' href="/accounts/login">Login</a>
  </li>

  {% endif %}
</div>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
</nav>
