{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
    <button type="submit" name="button" style="background-color:white;"><i class="fa fa-search" style="color:grey;"></i></button>
    <input type="search" name="name" placeholder="Search" aria-label="Search" class="form-control container-fluid">
  </form>
</div>
<div class="container" style="margin:10px;">
  {% for c in content %}
  <a class="card" href="/profile/{{c.name}}" style="color:black;text-decoration:none;">
    <div class="card-body">
      <p>{{c.name}}</p>
    </div>
  </a>
  {% endfor%}
</div>
{% endblock %}
